data_for_preprocessing/id_text.parquet
data_for_preprocessing/text.csv
data_after_postprocessing/predictions/*.parquet
data_after_postprocessing/predictions/*.png
finetune_multinomial/finetune_data/SMM4H_2021_task6_finetune_dataset/*
finetune_multinomial/originals/SMM4H_2021_task6_finetune_dataset/*
finetune_multinomial/finetune_data/SMM4H_2021_task6_finetune_dataset/*
finetune_multinomial/outputs_processing/*
predict_data/SMM4H_2021_task6_predict_data/*
predict_data/dataset/*
